


h1 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
	font-weight: bold;
}


.navbar.navbar-default {
	margin-bottom: 40px;
}

.container-fluid {
	padding: 0 7%;
}

.navbar-header {
	float: left;
	color: white;
	background: #4aaaa5;
	margin-left: 20%;
	border-width: 1px;
	text-align: center;
}

.navbar-header h1 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	margin: 10px 10px;
	color: white;
	font-weight: bold;
}

.container {
	width: 100%;
	padding: 0 7%;
	margin: 0;
	margin-bottom: 10%;
}

.panel.panel-default {
	padding: 20px;
}

.page-header {
	margin-top: 0;
}


#bio {
	line-height: 30px;
}

.panel-body {
	padding: 0;
}

.navbar.navbar-default.navbar-fixed-bottom {
	margin-bottom: 0;
	height: 94px;
	background: #666666;
	text-align: center;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 9px;
}

.navbar.navbar-default.navbar-fixed-bottom p{
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -11px;
	margin-left: -85px;
	color: #c3cdb6;
}

.col-md-4 {
	padding: 0;
}

.panel-title {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
	font-weight: bold;
	font-size: 20px;
}

#github {
	text-align: center;
}

#linkedin {
	text-align: center;
}

#stack {
	text-align: center;
}


/*Portfolio page */

.col-md-6 {
	padding: 0;
}

.col-md-6 .img-thumbnail {
	width: 100%;
	margin-bottom: 15px;
}

.col-md-6 span {
	bottom: 15px;
	background: #4aaaa5;
	width: 100%;
}

#Hangman {
	margin-right: 5%;
	position: relative;
}

#Hangman h2 {
	position: absolute;
    top: 50%;
    height: 25%;
    background: #4aaaa5;
    width: 100%;
    text-align: center;
    padding: 5%;
    color: white;
}

#RPG {
	margin-left: 5%;
	position: relative;
}

#RPG h2 {
	position: absolute;
    top: 50%;
    height: 25%;
    background: #4aaaa5;
    width: 100%;
    text-align: center;
    padding: 5%;
    color: white;
}

#Trivia {
	margin-right: 5%;
	position: relative;
}

#Trivia h2 {
	position: absolute;
    top: 50%;
    height: 25%;
    background: #4aaaa5;
    width: 100%;
    text-align: center;
    padding: 5%;
    color: white;
}

#Rutgers {
	margin-left: 5%;
	position: relative;
}

#Rutgers h2 {
	position: absolute;
    top: 50%;
    height: 25%;
    background: #4aaaa5;
    width: 100%;
    text-align: center;
    padding: 5%;
    color: white;
}

#Rock {
	margin-right: 5%;
	position: relative;
}

#Rock h2 {
	position: absolute;
    top: 50%;
    height: 25%;
    background: #4aaaa5;
    width: 100%;
    text-align: center;
    padding: 5%;
    color: white;
}


/*Contact page */

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.input-group {
	width: 100%;
}

.form-control2 {
	width: 100%;
	height: 300px;
}

.btn.btn-primary {
	margin-top: 20px;
	width: 20%;
	background: #4aaaa5;
}





